.card {
  padding: 20px;
  background: #eee;
  box-shadow: 0 6px 12px #0005;
  border-radius: 20px;
}

.card__container {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.card__hints {
  display: flex;
  justify-content: space-around;
  padding: 0; /* Einrückung nach links */
}

.card__hints > li {
  color: white;
  /* border: white solid 2px;*/
  background-color: hotpink;
  padding: 10px;
}
