.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  border: lawngreen;
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  text-decoration: none;
}

.navigation__link--active {
  background: hotpink;
}

.navigation__link > img {
  width: 48px;
}
